@page
@model WebApplication.Pages.DroitUtilisateur.CommandeClient.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CmdClient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CmdClient.NumCommande)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CmdClient.NumCommande)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CmdClient.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CmdClient.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CmdClient.Heure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CmdClient.Heure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CmdClient.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CmdClient.Prix)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditCC" asp-route-id="@Model.CmdClient.Id">Edit</a> |
    <a asp-page="./IndexCC">Back to List</a>
</div>
