@page
@model WebApplication.Pages.DroitUtilisateur.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditC" asp-route-id="@Model.Client.Id">Edit</a> |
    <a asp-page="./IndexC">Back to List</a>
</div>
