@page
@model WebApplication.Pages.DroitUtilisateur.Produits.IndexModel

@{
    ViewData["Title"] = "Liste des Produits";
}

<h1>@ViewData["Title"]</h1>
@if (HttpContext.User.Identity.IsAuthenticated){
<p>
    <a asp-page="CreateP">Enregistrer un noveau Produit</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].PrixUnitaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].PrixCarton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Millesime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Famille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit[0].Volume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixUnitaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixCarton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Millesime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Famille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                <a asp-page="./EditP" asp-route-id="@item.Id">Modifier</a> |
                <a asp-page="./DetailsP" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./DeleteP" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
